.container{
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 1440px;
  max-width: 90%;
  margin: 0 auto;
  height: 100px;
  
  nav{
    ul{
      display: flex;
      align-items: center;
      gap: 1.5rem;

      list-style: none;

      li{
        a{
          color: var(--white);
        }
      }
    }
  }

  .logo{
    font-size: 1.5rem;
    text-transform: uppercase;
    color: var(--primary);
    font-weight: bold;
  }
}

